<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ExcelIntegration.Properties.Settings>
            <setting name="TemplatePath" serializeAs="String">
                <value>C:\Users\Mark-Work\Desktop\Test\ExcelTemplate\Template.xlsx</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>C:\Users\Mark-Work\Desktop\Test\\ExcelOutput\</value>
            </setting>
        </ExcelIntegration.Properties.Settings>
    </userSettings>
</configuration>